// Place all the styles related to the ContactPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sprites {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
}

.fb {
  background: image_path('/assets/smi32') no-repeat -9px -4px;;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.fb:hover {
  background: image_path('/assets/smi32') no-repeat -49px -4px;
  width: 32px;
  height: 32px;
}

.linkedin {
  background: image_path('/assets/smi32') no-repeat -91px -4px;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.linkedin:hover {
  background: image_path('/assets/smi32') no-repeat -128px -5px;
  width: 32px;
  height: 32px;
}