<header>
  <div class="navbar">
    <div class="navbar-inner">
      <nav>
        <ul class="nav nav-pills">
          <li> <%= nav_link("About Derrick", root_path) %> </li>
          <li> <%= nav_link("Project", "#") %> </li>
          <li> <%= nav_link("Contact/Resume", contact_page_contact_path) %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
